<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944570873882-vp5pr6mevct69u818meic660pqikkqjc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944570873882-vp5pr6mevct69u818meic660pqikkqjc</string>
	<key>API_KEY</key>
	<string>AIzaSyCC8LMu0pRe5C-EVhctBnV-UJJjQycZiDk</string>
	<key>GCM_SENDER_ID</key>
	<string>944570873882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smit.LNM-HostelHub</string>
	<key>PROJECT_ID</key>
	<string>lnm-hostelhub</string>
	<key>STORAGE_BUCKET</key>
	<string>lnm-hostelhub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944570873882:ios:f2b10a22932f71407cb9a3</string>
</dict>
</plist>